<!doctype html>
<html>

<head>
    <!--
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->

    <!-- Google Analytics -->
    <script type="text/javascript" src="assets/js/gtag.js"></script>

    <meta charset="UTF-8">
    <meta name="description" content="SL Kreativez is a social enterprise with interest in developing the next generation of writers and creative geniuses. ">
    <meta name="keywords" content="SL Kreativez, SL, Energizing, creative, Artistry">
    <meta name="author" content="SL Kreativez">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets
    	============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/main.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/fonts/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/lightbox.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7311803387679973",
            enable_page_level_ads: true
        });
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113734399-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-113734399-1');
    </script>
    <!--[if lt IE 9]>
    		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    	<![endif]-->


    <!-- Document Title
    	============================================= -->
</head>
<title>Profile | SL Kreativez</title>

<body class="stretched">
    <div id="wrapper" class="clearfix">
        <!-- Header
        		============================================= -->
        <header id="header" class="full-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger">
                        <i class="icon-reorder"></i>
                    </div>

                    <!-- Logo
        					============================================= -->
                    <div id="logo">
                        <a href="./" class="standard-logo" data-dark-logo="http://assets/images/loo.jpg">
                            <img src="assets/images/loo.jpg" alt="SL Kreativez Logo">
                        </a>
                        <a href="./" class="retina-logo" data-dark-logo="http://assets/images/loo.jpg">
                            <img src="assets/images/loo.jpg" alt="SL Kreativez Logo">
                        </a>
                    </div>
                    <!-- #logo end -->

                    <!-- Primary Navigation
        					============================================= -->

                    <nav id="primary-menu">

                        <ul>
                            <li>
                                <a href="./">
                                    <div>Home</div>
                                </a>
                            </li>
                            <li>
                                <a href="about">
                                    <div>Who We Are</div>
                                </a>
                            </li>
                            <li>
                                <a href="services">
                                    <div>What We Do</div>
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.seekerslocus.com">
                                    <div>Blog</div>
                                </a>
                            </li>
                            <li>
                                <a href="jobs">
                                    <div>Career</div>
                                </a>
                            </li>
                            <li>
                                <a href="contact">
                                    <div>Connect</div>
                                </a>
                            </li>
                            <li>
                                <a href="projects">
                                    <div>Project</div>
                                </a>
                            </li>
                        </ul>

                    </nav>
                    <!-- #primary-menu end -->

                </div>

            </div>

        </header>
        <!-- #header end -->


        <!-- Page Title
        		============================================= -->
        <section>
            <img src="images/sl2.jpg">

        </section>
        <!-- #page-title end -->

        <!-- Content
                ============================================= -->

        <section id="content">

            <div class="content-wrap">
                <div class="container clearfix">

        <div class="page-header text-center">
            <h1>
                <span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3>
                        <span class="fa fa-user"></span> Local</h3>

                    <% if (user.local.email) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user._id %>
                                <br>
                                <strong>email</strong>:
                                <%= user.local.email %>
                                    <br>
                                    <strong>password</strong>:
                                    <%= user.local.password %>
                        </p>

                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                        <% } else { %>
                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                            <% } %>

                </div>
            </div>

            <!-- FACEBOOK INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-primary">
                        <span class="fa fa-facebook"></span> Facebook</h3>

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                    <% if (user.facebook.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.facebook.id %>
                                <br>
                                <strong>token</strong>:
                                <%= user.facebook.token %>
                                    <br>
                                    <strong>email</strong>:
                                    <%= user.facebook.email %>
                                        <br>
                                        <strong>name</strong>:
                                        <%= user.facebook.name %>
                                            <br>
                        </p>
                        <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                        <% } else { %>
                            <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                            <% } %>

                </div>
            </div>
        </div>
        <div class="row">

            <!-- TWITTER INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-info">
                        <span class="fa fa-twitter"></span> Twitter</h3>

                    <% if (user.twitter.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.twitter.id %>
                                <br>
                                <strong>token</strong>:
                                <%= user.twitter.token %>
                                    <br>
                                    <strong>display name</strong>:
                                    <%= user.twitter.displayName %>
                                        <br>
                                        <strong>username</strong>:
                                        <%= user.twitter.username %>
                        </p>
                        <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                        <% } else { %>
                            <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                            <% } %>

                </div>
            </div>

            <!-- GOOGLE INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-danger">
                        <span class="fa fa-google-plus"></span> Google+</h3>

                    <% if (user.google.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.google.id %>
                                <br>
                                <strong>token</strong>:
                                <%= user.google.token %>
                                    <br>
                                    <strong>email</strong>:
                                    <%= user.google.email %>
                                        <br>
                                        <strong>name</strong>:
                                        <%= user.google.name %>
                        </p>
                        <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                        <% } else { %>
                            <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                            <% } %>

                </div>
            </div>
        </div>

        

    </div></div>
    </section>
    
    <!-- #content end -->
    
    
    <!-- Footer
        		============================================= -->
    
    <div class="promo promo-dark promo-flat promo-full footer-stick" style="background-color:#0087BD;">
        <div class="container clearfix text-center">
            <h3 style="font-size: 18px;">Call us today at
                <span>09055781715</span> or Email us at
                <span>info@seekerslocus.com</span>
            </h3>
        </div>
    </div>
    
    </div>
    
    <section style="padding:80px 0;">
        <div class="heading-block bottommargin-sm" align="center">
            <h3>We are Social!</h3>
        </div>
        <div class="container text-center">
    
            <a href="https://www.facebook.com/Seekers-Locus-1681067345544788/?fref=ts" target="_blank" style="margin-right: 10px;">
                <img src="images/fb2.png">
            </a>
    
            <a href="https://twitter.com/SeekersLocus" target="_blank" style="margin-right: 10px;">
                <img src="images/tw2.png">
    
                <a href="https://www.instagram.com/sl_kreativez/" target="_blank" style="margin-right: 10px;">
                    <img src="images/insta2.png">
                </a>
    
                <!--<a href="https://ng.linkedin.com/in/seekers-locus-380aa5136" target="_blank" style="margin-right: 10px;">
                                <img src="images/link2.png">
                            </a>-->
        </div>
    
        </div>
    </section>
    
    <!-- Footer
                        ============================================= -->
    <footer id="footer" class="dark">
    
        <div class="container">
    
            <!-- Footer Widgets
                                ============================================= -->
            <div class="footer-widgets-wrap clearfix">
    
    
                <div class="col-md-6 widget clearfix" style="margin-bottom: 50px;">
                    <h4>Copyright &copy;</h4>
                    <span style="text-align: justify;line-height:1.8;">Hi, as you know most of the information and contents on this website are the intellectual properties of creative
                        individuals. It wouldn't be illegal to use their work without proper request and attribution. To this
                        end, all contents on seekerslocus.com and other information contained are the exclusive property of SL
                        KREATIVEZ and her partners. They can be shared on social media but any other use must come with express
                        permission from us. When used for educational purposes, users must reference us appropriately. Any commercial
                        use must be with a permission of copyright use. We take the right permission when we use contents from
                        third parties, and they're properly attributed.
                        <br>You can reach us via info@seekerslocus.com, Thank You.</span>
    
                    <div class="clearfix"></div>
                    <br>
                    <!-- <h4>Subscribe to Our Newsletter to get Important News and latest opportunities:</h4>
                                <div class="widget-subscribe-form-result"></div>
                                <form id="widget-subscribe-form" action="" role="form" method="post" class="nobottommargin">
                                    <div class="input-group divcenter">
                
                                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email"
                                            placeholder="Enter your Email" style="height:40px;">
                                        <span class="input-group-btn">
                                            <button class="button button-3d noleftmargin" style="margin-top:0px;" type="submit">Subscribe</button>
                                        </span>
                                    </div>
                                </form> -->
                </div>
    
    
                <div class="col-md-6 widget clearfix">
                    <h4>HOW CAN I HELP?</h4>
    
                    <h5>Sponsor/Partner With Us </h5>
                    Would you love to promote art, performance, literary and creative learning? Do you believe in the Nigeria of our dreams and
                    you know we can make a difference with your resources. Please partner with us to keep the work going. Here's
                    a list of what your partnership can do for our community
                    <div style="padding-left: 15px; padding-top:15px;">
                        <ol>
                            <li>Pilot and Promote our Mega Projects</li>
                            <br>
                            <li>Pay our writers and reviewers</li>
                            <br>
                            <li>Promote literacy in secondary schools across the country through books distribution (hard and soft
                                copies), literary competitions, seminars and trainings</li>
                            <br>
                            <li>Help our social works through charity donations of books and reading materials to the less privileged
                                in the society</li>
                            <ol>
                    </div>
                    <!--<a href="projects.php" class="button button-3d noleftmargin" style="background-color:#0087BD;color:#fff;margin-top:-6px;">Upcoming Projects</a> -->
    
                    </p>
    
    
                </div>
    
            </div>
            <!-- .footer-widgets-wrap end -->
    
        </div>
    
        <!-- Copyrights
                            ============================================= -->
        <div style="margin-bottom:0px; padding-top: 40px; background-color: rgba(0,0,0,0.2);">
    
            <div class="container clearfix">
    
                <div class="col_full widget subscribe-widget clearfix" align="center">
                    <h4>SL Kreativez &copy;
                        <date-element user-id="1"></date-element>. All Rights Reserved</h4>
                </div>
    
    
            </div>
    
        </div>
        <!-- #copyrights end -->
    
    </footer>
    <!-- #footer end -->
    
    </div>
    <!-- #wrapper end -->
    
    
    <!-- Go To Top
                	============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    
    <!-- External JavaScripts
                    ============================================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.14/webcomponents-hi.js"></script>
    <link rel="import" href="./DateTemplate.html">
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/lightbox.js"></script>
    
    <!-- Footer Scripts
                	============================================= -->
    <script type="text/javascript" src="assets/js/functions.js"></script>
    
    <script type="text/javascript" src="assets/js/new.js"></script>
    
    
    <script>jQuery(document).ready(function (e) { e("#primary-menu > ul li").find('.new-badge').children("div").append('<span class="label label-danger" style="display:inline-block;margin-left:8px;position:relative;top:-1px;text-transform:none;">New</span>') });</script>
    
    </div>
    </body>
    
    </html>